---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';



const projects = [
	{
		href: '#',
		title: 'Ararel',
		body: 'Having a hard time with research ideation?',
	},
	{
		href: 'https://rambot.azurewebsites.net/client',
		title: 'APC RamBot',
		body: 'Talk with Asia Pacific College admissions -- without the wait.',
	}
];
---
<!-- https://coolors.co/palette/F4F269-CEE26B-A8D26D-82C26E-5CB270 -->
<Layout title="Brylle Ace Nunez">
	<main>
		<h1><span class="text-gradient">B</span>rylle <span class="text-gradient">N</span>uñez</h1>
		<h3>Computer Science, '26 🎓</h3>
		<!-- <p class="about-me"> -->
		<p class="intro">
			I am currently trudging my way through 3rd year at <strong>Asia Pacific College</a></strong>. <br>
			I hope to end up working as a <strong>Cloud</strong> and/or <strong>Network Engineer</strong> soon. <br>
			In my spare time, I play <em>League of Legends</em> and <em>Transformice</em>. If not gaming, I'm probably binge-watching <em>Modern Family</em>!
		</p>

		<h2>Notable work:</h2>
		<ul role="list" class="link-card-grid">
			{projects.map((project) => (
				<Card href={project.href} title={project.title} body={project.body} />
			))}
		</ul>

		<p class="sub">
			Subinterests: using artificial intelligence, designing systems, teaching, reading, and working out.
		</p>

		<div class="portrait">
			<img src="./brylle2.jpg" alt="Me.">
		</div>

		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	em {
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
	/* .astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	} */
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0;
	}
	h3 {
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.about-me {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.about-me code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.about-me strong {
		color: rgb(var(--accent-light));
	}
	.intro strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
		grid-auto-columns: 1fr;
	}
	.portrait {
		text-align: center;
	}
	.portrait img {
		width: 35%;
		object-fit: cover;
	}
	.sub {
		margin-bottom: 2.5rem;
	}
	footer {
        color: rgba(var(--accent-light));
    }
	footer .row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	footer .row span {
		font-weight: bold;
		padding-right: 1.25rem;
	}
    .link {
        color: white;
        text-decoration: none;
		padding-left: 1.25rem;
        transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		white-space: nowrap;
    }
    .link:hover {
        color: rgba(var(--accent));
    }
	.row hr {
		width: 100%;
		border: 0.5px dotted rgba(var(--accent), 10%);
	}
</style>
