---
import Layout from "../../layouts/Layout.astro"
import ProjectCard from "../../components/ProjectCard.astro"

const projects = [
	{
		href: '/projects/ararel',
		title: 'Ararel',
		body: 'Ararel is a research ideation tool that helps you find the right research topic for you. Powered by Gemini.',
		img: '/ararel.png'
	},
	{
		href: '/projects/rambot',
		title: 'APC RamBot',
		body: 'Talk with Asia Pacific College admissions -- without the wait. Powered by Azure.',
		img: '/rambot.png'
	},
	{
		href: 'https://detendre.vercel.app',
		title: 'Détendre',
		body: 'Want to explore Europe at home? Powered by Svelte.',
		img: '/detendre.png'
	}
]
---
<Layout title="Projects">
    <main>
        <h1><span class="text-gradient">N</span>otable work</h1>
        <p>See my work here!</p>
		{projects.map((project) => (
			<ProjectCard href={project.href} title={project.title} body={project.body} img={project.img} />
			<br />
		))}
    </main>
</Layout>

<style>
    main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>